.container{
  .container-model{
    .model-btn{
      margin-left: 8px;
    }
  }
  .container-table{
    height: 820px;
    .fun-more-query{
      background: #fff;
      padding-top: 20px;
      border: 1px solid #eee;
      border-radius: 6px;
      box-shadow: 0 1px 3px rgba(34, 25, 25, 0.2);
      font-size: 14px;
      color: #333333;
      margin-bottom: 8px;
      .ivu-form-item {
        margin-bottom: 20px;
      }
      .btn{
        margin-right: 10px;
        font-size: 14px;
      }
      .form-item-body{
        width: 280px;
      }
    }
    .fun-table{
      background: #fff;
      border-radius: 6px;
      .operate{
        padding: 20px 0;
        display: flex;
        justify-content: space-between;
        .fun-btn-group{
          display: flex;
          justify-content: space-between;
          margin-left: 20px;
          .btn{
            margin-right: 10px;
            font-size: 14px;
          }
        }
        .fun-query{
          display: flex;
          justify-content: space-between;
          margin-right: 20px;
          margin-left: 10px;
          .btn{
            margin-left: 10px;
            font-size: 14px;
          }
        }
      }
    }
    .page{
      float: right;
      margin-top: 20px;
      margin-bottom: 10px;
    }
  }
}
